---
import Layout from "../layouts/BlogPost.astro";

const pageTitle = "私について";

const identity = {
	firstName: "zeki",
	country: "Japan",
	occupation: "Software Engineer",
	hobbies: ["cooking", "baseball"],
};

const skills = [
	"HTML",
	"CSS",
	"JavaScript",
	"TypeScript",
	"Java",
	"Spring",
	"Go",
];

const happy = true;
const finished = false;
const goal = 3;
---

<Layout
	title={pageTitle}
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>自己紹介</p>
	<ul>
		<li>私の名前は{identity.firstName}です。</li>
		<li>
			{identity.country}に住んでおり、{
				identity.occupation
			}として働いています。
		</li>
		{
			identity.hobbies.length >= 2 && (
				<li>
					私の2つの趣味は{identity.hobbies[0]}と{identity.hobbies[1]}
					です。
				</li>
			)
		}
	</ul>
	<p>私のスキルは以下の通りです。</p>
	<ul>
		{skills.map((skill) => <li>{skill}</li>)}
	</ul>
	<p>text</p>

	<p>text</p>
</Layout>
